PUBLIC_HOST=8.218.237.73

DB_USER=chainspace
DB_PASSWORD=ChangeThisDbPassword123!
DB_NAME=chainspace

REDIS_PASSWORD=ChangeThisRedisPassword123!

MINIO_ACCESS_KEY=chainspace
MINIO_SECRET_KEY=ChangeThisMinioSecret123!

RABBITMQ_USER=chainspace
RABBITMQ_PASSWORD=ChangeThisRabbitPassword123!

JWT_SECRET=ChangeThisJwtSecretToAtLeast32CharsLong123456
